/* ########## Custom ########## */
body{
    display: block;
    margin: 0;
}

nav div.topnav{
    background-color: black;
    height: 2em;
}

ul{
    margin: 0;
    width: 100%;
    padding: 0;
}

ul li{
    color: white;
    font-size: 1.5em;
    display: inline;
    padding: 7px;
}

ul li.right-align{
    text-align: right;
}

ul li a{
    color: lightgray;
    text-decoration: none;
}
/* ########## Mobile ########## */
@media screen and (min-width: 600px){
    nav div.topnav:not(:nth-child(1)){
        display: hidden;
    }
}