/* ########## Defaults ########## */
nav,
footer,
header{
    display: block;
    font-family: "Calibri", sans-serif, serif;
    font-size: 1.5em;
}

body{
    line-height: 1;
    margin: 0;
}


/* ########## Nav Bar ########## */
nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #666;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li a{
    padding: 5px;
    text-decoration: none;
    color: #000;
}

ul.topnav li.dropdown{
    display: none;
}

/* ########## Custom Styles ########## */


/* ########## Mobile ########## */

@media screen and (max-width: 600px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }

    ul.topnav li.dropdown{
        display: block;
        margin: 0;
    }

    ul.topnav.responsive{
        display: inline;
    }

    ul.topnav.responsive li.dropdown{
        position: absolute;
        top: 0;
        right: 0;
    }
}